doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add product
    body 
        header.main-header
         nav.main-header__nav
             ul.main-header__iteam-list
                 li.main-header__iteam
                     a(href="/") Shop
                 li.main-header__iteam
                    a.active(href="/add-product")Add product
        main
            form.product-form(action="/add-product" method="POST")
                 div.form-control
                     label (for="title")title
                     input (type="text" name="title" id="title")