<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__iteam-list">
          <li class="main-header__iteam"></li>
          <li class="main-header__iteam"></li>
        </ul>
      </nav>
    </header>
    <main>
      <form
        action=""
        class="product-form"
        action="/admin/add-product"
        method="POST"
      >
        <div class="form-control">
          <label for="title">Title</label
          ><input type="text" name="title" id="title" />
        </div>
      </form>
    </main>
  </body>
</html>
